#gaze-panel {
    top: 442px;
    left: 24px;
    width: 400px;
}

.collapsed #gaze-panel {
    display: none;
}

.modulations-list-container {
    max-height: 100px;
    overflow: auto;
}

.targets-list-container {
    max-height: 100px;
    overflow: auto;
}